* {
    box-sizing: border-box;
}


.searchBox {
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 35%;
    top: 4.5%;
}

.inputSearch {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #9FC5E8;
    padding-right: 40px;
    color: #fc8200;
}

.inputSearch::placeholder {
    color: #fc8200;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btnSearch {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #fc8200;
    background-color: transparent;
    pointer-events: painted;
}

.btnSearch:focus~.inputSearch {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #fc8200;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.inputSearch:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #fc8200;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.searchIcon {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: 15px;
    margin-top: -4px
}
.searchIcon::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}