:root {
    --arrow-height: 9px;
    --arrow-width: 2px;
    --interactive-color: #4338CA;
    --black-color: #111827;
}

.pagination {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 24px;
    border-radius: 6px;
    box-shadow: 0px 4px 8px 0px rgba(31, 41, 55, 0.14);
    position: relative;
    left: 30%;
    border: 3px solid #539de2;
    border-radius: 20px;
    background-color: #9FC5E8;
}



.number {
    font-weight: 600;
    font-size: 16px;
    color: #fc8200;
    padding-left: 16px;
    margin-left: 10px;
    padding-right: 16px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background: none;
}

#active {
    color: #17690c;
    position: relative;
}

.arrow {
    padding-left: 16px;
    padding-right: 16px;
    color: #fc8200;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

 