.landing {
    color: red;
    font-size: 60px;
    text-decoration: none;
}

#tittle{
    font-size: 90px;
}

body {
    
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}