:root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #34495e;
    --darkgray: #2c3e50;
}

.wrap{
    display: flex;
    position: relative;
    right: -60%;
    top: -30px;
}

.label{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    position: relative;
    margin-left: 7px;
    color: #f88f1e;
    top: 5px;
}

.customSelect {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    margin-left: 7%;
    right: 15%;
    flex: 1;
    padding: 0 1em;
    color: #fc8200;
    background-color: #9FC5E8;
    background-image: none;
    cursor: pointer;
}

/* Remove IE arrow */
.customSelect::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.container {
    position: relative;
    display: flex;
    width: 15em;
    height: 2em;
    border-radius: .25em;
    overflow: hidden;
}

/* Arrow */
.container::after {
    content: '\25BC';
    position: absolute;
    top: -7px;
    right: 0;
    padding: 1em;
    background-color: #9FC5E8;
    transition: .25s all ease;
    pointer-events: none;
}

/* Transition */
.container:hover::after {
    color: #fc8200;
}